{% extends "base.html" %}
{% block bodyy%}
<div class="container mt-5 humm ">

  <div id="intro-screen" class="center">
    <h2>Choose your symbol:</h2>
    <button type="button" id="choose-x" class="choose">X</button>
    <button type="button" id="choose-o" class="choose">O</button>
  </div>
  
  <div id="enemy-screen" class="center hidden">
    <h2>Play against:</h2>
    <button type="button" id="choose-human" class="choose">Human</button>
    <button type="button" id="choose-cpu" class="choose">CPU</button>
  </div>
    
  <div id="game-screen" class="center hidden">
    <!-- Every cell has an id "cell" followed by cell row and cell column -->
    <table class="center">
      <tr>
        <td>
          <button type="button" class="cell" id="cell00"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell01"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell02"></button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" class="cell" id="cell10"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell11"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell12"></button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" class="cell" id="cell20"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell21"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell22"></button>
        </td>
      </tr>
    </table>
    <button type="button" id="restart">Restart</button>
  <div>

</div>
  

{% endblock %}