{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="{% static 'back.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'rock.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'color.css' %}">
       <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      
      <title>UseMe</title>
   </head>
<body style="padding-top:0%">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand disabled" href="/">Use Me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
            <li class="nav-item ">
               <a class="nav-link active" href="#">Diary</a>
            </li>
            <li class="nav-item ">
               <a class="nav-link active" href="">Notes</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/game">Games</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" href="#">Votes</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" href="/logout">Logout</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" href="#">Feedback</a>
             </li>
      {% else %}
      <li class="nav-item">
         <a class="nav-link active" href="/login">Login</a>
       </li>
       <li class="nav-item">
         <a class="nav-link active" href="/registration">Registration</a>
       </li>
       <li class="nav-item">
         <a class="nav-link active" href="#">Feedback</a>
       </li>
      {% endif %}
        </ul>
      </div>
    </nav>
   {% block bodyy %}
   {% endblock %}
   <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% if request.user.is_authenticated %}
    <script>
        var playerSymbol;
        var enemySymbol;
        var win; // TRUE if somebody won the game
        var turn; // Number of the current turn
        var row, column; // Will contain "coordinates"for a specific cell
        var cpuEnabled = true; // Set this to false to play against a human

        $(document).ready(function () {
          // Intro screen buttons
          $("#choose-x").on("click", function () {
            playerSymbol = "X";
            enemySymbol = "O";
            $("#intro-screen").fadeOut(300, showEnemyScreen);
          });
          $("#choose-o").on("click", function () {
            playerSymbol = "O";
            enemySymbol = "X";
            $("#intro-screen").fadeOut(300, showEnemyScreen);
          });

          // Enemy screen buttons
          $("#choose-human").on("click", function () {
            cpuEnabled = false;
            startGame();
          });
          $("#choose-cpu").on("click", function () {
            cpuEnabled = true;
            startGame();
          });

          // Game screen buttons
          $("#restart").on("click", function () {
            restartGame();
          });
          $(".cell").on("click", function () {
            // If nobody has won yet and clicked cell is empty
            if (!win && this.innerHTML === "") {
              if (turn % 2 === 0) {
                // Even number = player turn
                insertSymbol(this, playerSymbol);
              } else {
                // Odd number = enemy turn
                insertSymbol(this, enemySymbol);
              }
            }
          });
        });

        /******  FUNCTIONS  ******/

        // Inserts a symbol in the clicked cell
        function insertSymbol(element, symbol) {
          element.innerHTML = symbol;

          if (symbol === enemySymbol) $("#" + element.id).addClass("player-two"); // Color enemy symbol differently
          $("#" + element.id).addClass("cannotuse"); // Show a "disabled" cursor on already occupied cells

          checkWinConditions(element);
          turn++;
          // Game end - If somebody has won or all cells are filled
          if (win || turn > 8) {
            $("#restart").addClass("btn-green"); // Highlights "restart" button
            $(".cell").addClass("cannotuse"); // Tells visually you can't interact anymore with the game grid
          } else if (cpuEnabled && turn % 2 !== 0) {
            cpuTurn();
          }
        }

        /* Changes screen with a fade effect */
        function startGame() {
          /* Shows the game screen when the intro screen is completely hidden */
          $("#enemy-screen").fadeOut(300, showGameScreen);
          restartGame();
        }
        function showGameScreen() {
          $("#game-screen").fadeIn(300);
        }
        function showEnemyScreen() {
          $("#enemy-screen").fadeIn(300);
        }

        /* Sets everything to its default value */
        function restartGame() {
          turn = 0;
          win = false;
          $(".cell").text("");
          $(".cell").removeClass("wincell");
          $(".cell").removeClass("cannotuse");
          $(".cell").removeClass("player-two");
          $("#restart").removeClass("btn-green");
        }

        /* Check if there's a winning combination in the grid (3 equal symbols in a row/column/diagonal) */
        function checkWinConditions(element) {
          // Retrieve cell coordinates from clicked button id
          row = element.id[4];
          column = element.id[5];

          // 1) VERTICAL (check if all the symbols in clicked cell's column are the same)

          win = true;
          for (var i = 0; i < 3; i++) {
            if ($("#cell" + i + column).text() !== element.innerHTML) {
              win = false;
            }
          }
          if (win) {
            for (var i = 0; i < 3; i++) {
              // Highlight the cells that form a winning combination
              $("#cell" + i + column).addClass("wincell");
            }
            return; // Exit from the function, to prevent "win" to be set to false by other checks
          }

          // 2) HORIZONTAL (check the clicked cell's row)

          win = true;
          for (var i = 0; i < 3; i++) {
            if ($("#cell" + row + i).text() !== element.innerHTML) {
              win = false;
            }
          }
          if (win) {
            for (var i = 0; i < 3; i++) {
              $("#cell" + row + i).addClass("wincell");
            }
            return;
          }

          // 3) MAIN DIAGONAL (for the sake of simplicity it checks even if the clicked cell is not in the main diagonal)

          

          // 3) SECONDARY DIAGONAL

          
        }

        // Simple AI (clicks a random empty cell)
        function cpuTurn() {
          var ok = false;

          while (!ok) {
            row = Math.floor(Math.random() * 3);
            column = Math.floor(Math.random() * 3);
            if ($("#cell" + row + column).text() === "") {
              // We have found it! Stop looking for an empty cell
              ok = true;
            }
          }

          $("#cell" + row + column).click(); // Emulate a click on the cell
        }
        





//need to implement lizard and spock

//Thanks to @wearnotgroot, @pradeepce, @storbek, @hermangsk & @hman1911

var playerWin = 0;
var aiWin = 0;
var draws = 0;
var playerRoll; //rock = 1, paper = 2, scissors = 3
var gameMessage = $('#game-message');//Clean up the JS a lil
var scoreBoard = $('#scoreboard');


//rock click
$('.rock').click(function() {
  playerRoll = 1;
  var computerRoll = Math.floor(Math.random() * 3 + 1);//Rock, Paper, Scissors genius AI
  
  //draw case
  if (computerRoll === playerRoll) {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-draw">Draw!</p>' + '<p class="computer-message">The Computer chose rock too!</p>').fadeIn(300);
      
      draws++;
      $('#draws').html('').append(draws);
    });
    
    // rock vs AI paper
  } else if (playerRoll === 1 && computerRoll === 2) {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-lose">You lost</p>' + '<p class="computer-message">The Computer chose paper!</p>').fadeIn(300);
      
      aiWin++;
      $('#losses').html('').append(aiWin);
    });
    
    // rock vs AI scissors
  } else {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-won">You Won!</p>' + '<p class="computer-message">The Computer chose scissors!</p>').fadeIn(300);
      
      playerWin++;
      $('#wins').html('').append(playerWin);
    });                
    
  }
  /*console.log("Player Rolled " + playerRoll);
  console.log("computer Rolled " + computerRoll);*/
});//end of rock click

//paper click
$('.paper').click(function() {
  playerRoll = 2;
  var computerRoll = Math.floor(Math.random() * 3 + 1);
  
  //draw
  if (computerRoll === playerRoll) {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-draw">Draw!</p>' + '<p class="computer-message">The Computer chose paper too!</p>').fadeIn(300);
      
      draws++;
      $('#draws').html('').append(draws);
    });
  //paper vs AI rock
  } else if (playerRoll === 2 && computerRoll === 1) {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-won">You Won!</p>' + '<p class="computer-message">The Computer chose rock!</p>').fadeIn(300);
      
      playerWin++;
      $('#wins').html('').append(playerWin);
    });
  //paper vs AI scissors
  } else {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-lose">You lost</p>' + '<p class="computer-message">The Computer chose scissors</p>').fadeIn(300);
      
      aiWin++;
      $('#losses').html('').append(aiWin);
    });
  }
  
  /*console.log("Player Rolled " + playerRoll);
  console.log("computer Rolled " + computerRoll);*/
});//end of paper click

//scissors click
$('.scissors').click(function() {
  playerRoll = 3;
  var computerRoll = Math.floor(Math.random() * 3 + 1);
  //draw
  if (computerRoll === playerRoll) {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-draw">Draw!</p>' + '<p class="computer-message">The Computer chose scissors too!</p>').fadeIn(300);
      
      draws++;
      $('#draws').html('').append(draws);
    });
  //scissors vs AI paper
  } else if (playerRoll === 3 && computerRoll === 2) {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-won">You Won!</p>' + '<p class="computer-message">The Computer chose paper</p>').fadeIn(300);
      
      playerWin++;
      $('#wins').html('').append(playerWin);
    });
  //scissors vs AI rock
  } else {
    gameMessage.fadeOut(300, function() {
      gameMessage.html('').append('<p class="game-lose">You lost</p>' + '<p class="computer-message">The Computer chose rock</p>').fadeIn(300);
      
      aiWin++;
      $('#losses').html('').append(aiWin);
    });
  }//end of scissors click
  
  /*console.log("Player Rolled " + playerRoll);
  console.log("computer Rolled " + computerRoll);*/
});

//press "Reset scores" to reset all scores
$('#reset-scores').click(function() {
  playerWin = 0;
  $('#wins').html(playerWin);
  draws = 0;
  $('#draws').html(draws);
  aiWin = 0;
  $('#losses').html(aiWin);
});


    </script>
    {% endif %}
    
</body>
</html>